.App {
  text-align: center;
  display: grid;
}

.Data-Wrapper {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: auto;

}

.Local-Wrapper {
    font-size: 1.5rem;
    width: 90vw;
    margin: auto;
}

.Add-Container {
    position: fixed;
    bottom: 10px;
}

.Name {
    color: #239a3b;
}

.Language-Select {
    height: 100%;
}

.Repo-Number {
    color: #239a3b;
    font-size: 1.5rem;
}

.Projects-Wrapper {
    margin: 0;
    padding: 0;
}
.Edit-Form {
    grid-column: 2 / 8;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.Project-Item {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}

.Details-Delete-Button {
    grid-column: 5/7;
}

.Details-Edit-Button {
    grid-column: 2/4;
}

.Change-Details-Button {
    grid-column: 3/4
}

.Projects-Wrapper, .ViewLater-Wrapper {
    list-style: none;
    display: grid;
}

.Detailed-View {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.Creators-Avatar {
    height: 80px;
    width: auto;
    margin: auto;
}