.App {
  text-align: center;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.Data-Wrapper {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Local-Wrapper {
    font-size: 2rem;
}

.Name {
    color: #239a3b;
}

.Repo-Number {
    color: #239a3b;
    font-size: 1.5rem;
}

.Projects-Wrapper {
    margin: 0;
    padding: 0;
}

.Project-Item {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}


.Projects-Wrapper, .ViewLater-Wrapper {
    list-style: none;
    display: grid;
}